#   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Assignment
### Q1 : List any five functions of the pandas library with execution ?
### Ans :-

**(1) read_csv() :<br>**

**We can read data in pandas data frame as read_csv(). Two most used data read formats are csv and excel.<br> If we are reading data in excel format, we can also give sheet names .**

In [1]:
import pandas as pd

df = pd.read_csv('services.csv')

**(2) Head and Tail :**<br>

**To see the data frame we can use df.head(). Head returns the first rows,<br> if no input is given it will always show above 5 rows. In contrast to see below rows, we can use df.tail().**

In [2]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [3]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

**(3) Shape, Size and Info :**<br>

**Two most basic functions after reading data is to know the number of rows and columns,<br> and to know the datatype of variables. We can use df.shape, it gives a total number of rows and then columns. df.size()<br> returns the number of rows times number of columns in the data frame. We can also use df.info(), from that we get<br> different information such as rows from RangeIndex, Data columns and then data type of each column.<br> It also includes the information of non-null counts.**

In [4]:
df.shape

(23, 22)

In [5]:
df.size

506

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

**(4) Describe :**<br>

**Then to understand basic statistics of variables we can use df.describe(). It will give you<br> count, mean, standard deviation, and also 5 number summary.**

In [7]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

**(6) Nunique:**<br>

**To get the total unique values of variables, we can use df.nunique().<br> It will give all the unique values a variable contains.**

In [8]:
df.nunique()

id                         23
location_id                22
program_id                  0
accepted_payments           1
alternate_name              1
application_process        20
audience                   14
description                23
eligibility                16
email                       1
fees                       10
funding_sources            14
interpretation_services     1
keywords                   18
languages                   1
name                       23
required_documents          1
service_areas              10
status                      3
wait_time                   7
website                     1
taxonomy_ids                1
dtype: int64

### Q2 : Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
## DataFrame with a new index that starts from 1 and increments by 2 for each row ?
### Ans :-

In [9]:
import pandas as pd 

data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

In [12]:
import pandas as pd

def reindex_dataframe(df):
    df_reset = df.reset_index(drop=True)

    new_index = pd.Series(range(1, len(df_reset)*2, 2), name='new_index')

    df_result = pd.concat([new_index, df_reset], axis=1)

    return df_result


result_df = reindex_dataframe(df)


print(result_df)

   new_index   A   B   C
0          1  10  40  70
1          3  20  50  80
2          5  30  60  90

### Q3 : You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column.The function should print the sum to the console ?<br>
### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50],your function should calculate and print the sum of the first three values, which is 60 ?
### Ans :-

In [13]:
import pandas as pd

## Function definition
def sum_of_first_three_values(df):
    sum_of_values = 0
    for index, row in df.iterrows():
        if index < 3:
            sum_of_values += row['Values']
    return sum_of_values

## Driver Code
data = {'Values' : [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

## Function Calling
result = sum_of_first_three_values(df)
print("Sum of the first three values:", result)

Sum of the first three values: 60

### Q4 : Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column ?
### Ans :-

In [14]:
import pandas as pd

# Function to count words in each row of the 'Text' column
def count_words(df) :
    
    # Splitting each text by whitespace and counting the number of words
    df['Word_Count'] = df['Text'].apply(lambda x : len(str(x).split()))
    
    return df
    
# Creating a DataFrame
data = {
    'Text': [
        "This is a sample text.",
        "Count the words in this sentence.",
        "Another example for word count."
    ]
}

df =pd.DataFrame(data)

# Applying the function to create the 'Word_Count' column
df = count_words(df)

# Display the DataFrame 
print(df)

                                Text  Word_Count
0             This is a sample text.           5
1  Count the words in this sentence.           6
2    Another example for word count.           5

### Q5 : How are DataFrame.size() and DataFrame.shape() different?
### Ans :-

**DataFrame.size() :**<br>

**DataFrame.size() metod returns the total number of elements in the DataFrame.**<br>
**A single integer representing the total number of elements (values) within the DataFrame.**<br>
**Calculated as: Number of rows * Number of columns.**<br>
**Example: If a DataFrame has 10 rows and 5 columns, its size would be 50.**

In [15]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

In [16]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [17]:
df.size

6

**DataFrame.shape() :**<br>

**DataFrame.shape() returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows and the second element is the number of columns.**<br>
**A tuple of two integers, representing the dimensions of the DataFrame: (number of rows, number of columns).**<br>
**Gives you direct access to the number of rows and columns separately.**<br>
**Example: If a DataFrame has 10 rows and 5 columns, its shape would be (10, 5).**

In [18]:
import pandas as pd

data = {'A': [7,8,9], 'B': [10,11,12]}
df = pd.DataFrame(data)

In [19]:
df

   A   B
0  7  10
1  8  11
2  9  12

In [20]:
df.shape

(3, 2)

### Difference :
<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>DataFrame.size()</th>
      <th>DataFrame.shape()</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Output format</td>
      <td>Single integer</td>
      <td>Tuple of two integers</td>
    </tr>
    <tr>
      <td>Information provided</td>
      <td>Total count of elements</td>
      <td>Individual counts of rows and columns</td>
    </tr>
    <tr>
      <td>Use case</td>
      <td>Total number of elements (memory allocation, performance)</td>
      <td>Specific dimensions (iteration, compatibility)</td>
    </tr>
  </tbody>
</table>

### Q6 : Which function of pandas do we use to read an excel file?
### Ans :-

**Pandas read excel :**<br>
**Pandas read_excel() is a pandas function that reads an excel sheet with the extension xlsx into a pandas DataFrame object. In the Excel sheet, the data is in two-dimensional table form. In the DataFrame object, the data is also in a two-dimensional tabular form.**

In [21]:
import pandas as pd 
df = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [22]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN

### Parameters of pandas read excel :
<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>io</td>
      <td>It is a valid string path directing to the workbook. The string could be any URL, local path, filename, or file-like object.</td>
    </tr>
    <tr>
      <td>sheet_name</td>
      <td>It reads the sheet name of the workbook. A sheet name can only be a string, an integer can be used in zero-indexed sheet positions.</td>
    </tr>
    <tr>
      <td>header</td>
      <td>It reads the header row. If there is no header, then use none. The dtype is an object. dtype is nothing but the datatype.</td>
    </tr>
    <tr>
      <td>use_col</td>
      <td>It parses all the columns if none is mentioned, and it will parse the column of that index that is mentioned. If the list of string or integer is mentioned, it will parse all the columns mentioned.</td>
    </tr>
    <tr>
      <td>index_col</td>
      <td>It reads the column mentioned in the index_col and will print the column at the index position. It passes None if there is no such column.</td>
    </tr>
    <tr>
      <td>dtype</td>
      <td>It tells the type of data present in the file and mentions the type of data present in the column.</td>
    </tr>
    <tr>
      <td>skiprow</td>
      <td>It skips the row which is mentioned in the skiprow; it takes an integer value.</td>
    </tr>
    <tr>
      <td>nrows</td>
      <td>It parses upto the given row mentioned in the nrows parameter.</td>
    </tr>
    <tr>
      <td>skipfooter</td>
      <td>It skips the number of rows from the bottom of the file which is being parsed and contains this parameter.</td>
    </tr>
  </tbody>
</table>

### Q7 : You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
### The username is the part of the email address that appears before the '@' symbol.<br>For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

### Ans :-

In [23]:
import pandas as pd 

# Function to extract the username from 'Email' column
def extract_username(df) :
    
     # Splitting each email by @ and extract username
    df['username'] = df['Email'].apply(lambda x : str(x).split('@')[0])
      
    return df
      

# Creating a DataFrame 
data = {'Email': [
                 'jsmith@gmail.com', 
                 'chloe_wong@yahoo.co.uk' ,
                 'alex.davis@hotmail.com' ,
                 'maria_2023@outlook.com' ,
                 'dr.john.doe@icloud.com'
                 ]
       }

df = pd.DataFrame(data)

# Applying the function to create the 'username' column
df = extract_username(df)

# Display the DataFrame 

print(df)

                    Email     username
0        jsmith@gmail.com       jsmith
1  chloe_wong@yahoo.co.uk   chloe_wong
2  alex.davis@hotmail.com   alex.davis
3  maria_2023@outlook.com   maria_2023
4  dr.john.doe@icloud.com  dr.john.doe

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
### For example, if df contains the following values:
### &emsp;A B C
### 0 3 5 1
### 1 8 2 7
### 2 6 9 4
### 3 2 3 5
### 4 9 1 2

### Your function should select the following rows: A B C
### 1 8 2 7
### 4 9 1 2
### The function should return a new DataFrame that contains only the selected rows.

### Ans :-

In [24]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Call the function to select rows
selected_df = select_rows(df)

# Display the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column ?
### Ans :-

In [25]:
import pandas as pd

def calculate_statistics(df):
    
    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()

    return mean_value, median_value, std_deviation

# creating a DataFrame
data = {'Values': [2, 4, 4, 4, 5, 5, 7, 9]}
df = pd.DataFrame(data)

# Call the function to calculate statistics
mean, median, std = calculate_statistics(df)

# Display the results
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 5.0
Median: 4.5
Standard Deviation: 2.138089935299395

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day ?

### Ans :-

### Moving Average (MA) :-

**In finance, a moving average (MA) is a stock indicator commonly used in technical analysis.<br> The reason for calculating the moving average of a stock is to help smooth out the price data<br> by creating a constantly updated average price.**

**KEY POINTS :-**<br>

**A moving average (MA) is a stock indicator commonly used in technical analysis.**<br>
**The moving average helps to level the price data over a specified period by creating a constantly updated average price.**<br>
**A simple moving average (SMA) is a calculation that takes the arithmetic mean of a given set of prices over<br> a specific number of days in the past.**<br>
**An exponential moving average (EMA) is a weighted average that gives greater importance to the price of a stock in more recent days, making it an indicator that is more responsive to new information.**

### Rolling Mean :-

**Rolling Mean, also known as moving average, calculates the mean of the values within the <br>window of values. Moving average is a popular data analysis technique used in Data Science for time-series data.**<br>

### Rolling Window:-

**Pandas dataframe.rolling() function provides the feature of rolling window calculations.<br> The concept of rolling window calculation is most primarily used in signal processing and time-series data.<br> In very simple words we take a window size of k at a time and perform some desired mathematical operation on it. <br>A window of size k means k consecutive values at a time.**

In [26]:
import pandas as pd

def calculate_moving_average(df, window_size=7):
    # Sort the DataFrame by the 'Date' column
    df = df.sort_values(by='Date')
                                                                                        
    # Calculate the moving average using the rolling window
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()   

    return df

# Example DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'],
        'Sales': [10, 15, 20, 25, 30, 35, 40]}
df = pd.DataFrame(data)

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Display the results
print(df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     15           12.5
2 2023-01-03     20           15.0
3 2023-01-04     25           17.5
4 2023-01-05     30           20.0
5 2023-01-06     35           22.5
6 2023-01-07     40           25.0

### Q11 : You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:
### &emsp; Date
### 0 2023-01-01
### 1 2023-01-02
### 2 2023-01-03
### 3 2023-01-04
### 4 2023-01-05
### Your function should create the following DataFrame:

### Date Weekday
### 0 2023-01-01 Sunday
### 1 2023-01-02 Monday
### 2 2023-01-03 Tuesday
### 3 2023-01-04 Wednesday
### 4 2023-01-05 Thursday
### The function should return the modified DataFrame.

### Ans :-
## Series.dt.weekday property :-

**The weekday property is used get the day of the week of a given date.**<br>
**The day of the week with Monday=0, Sunday=6.**<br>
**It is assumed the week starts on Monday, which is denoted by 0 and ends on Sunday which is denoted by 6. This method is available on both Series with datetime values or DatetimeIndex**<br>

## Series.dt.day_name() function :-
**The dt.day_name() function is used to get the day names of the DateTimeIndex with specified locale.**

In [4]:
import pandas as pd

def weekday_name(df):
    
    # creating a new column 'Weekday_no' with number of day name
    df['Weekday_no'] = df['Date'].dt.weekday
    
    # creating a new column 'Weekday' with day name
    df['Weekday'] = df['Date'].dt.day_name()
                                                
    return df

# DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'] }
df = pd.DataFrame(data)

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Call the function 
df = weekday_name(df)

# Display the results
print(df)

        Date  Weekday_no    Weekday
0 2023-01-01           6     Sunday
1 2023-01-02           0     Monday
2 2023-01-03           1    Tuesday
3 2023-01-04           2  Wednesday
4 2023-01-05           3   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

### Ans :-

In [32]:
import pandas as pd

# Pandas DataFrame df with a 'Date' column containing timestamps
def select_rows_between_dates(df):
    # Filter rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return selected_rows

data = {'Date': pd.date_range('2023-01-01', '2023-02-28', freq='D'),
        'Value': range(1, 60)}

df = pd.DataFrame(data)


print(selected_rows)

         Date  Value
0  2023-01-01      1
1  2023-01-02      2
2  2023-01-03      3
3  2023-01-04      4
4  2023-01-05      5
5  2023-01-06      6
6  2023-01-07      7
7  2023-01-08      8
8  2023-01-09      9
9  2023-01-10     10
10 2023-01-11     11
11 2023-01-12     12
12 2023-01-13     13
13 2023-01-14     14
14 2023-01-15     15
15 2023-01-16     16
16 2023-01-17     17
17 2023-01-18     18
18 2023-01-19     19
19 2023-01-20     20
20 2023-01-21     21
21 2023-01-22     22
22 2023-01-23     23
23 2023-01-24     24
24 2023-01-25     25
25 2023-01-26     26
26 2023-01-27     27
27 2023-01-28     28
28 2023-01-29     29
29 2023-01-30     30
30 2023-01-31     31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

### Ans :-
**To use the basic functions of pandas, the first and foremost library that needs to be imported is the pandas library itself**<br>

### Pandas as pd :-
**Pandas is usually imported under the pd alias.**<br>

**alias: In Python alias are an alternate name for referring to the same thing.**

In [33]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [34]:
import pandas as pd

print(pd.__version__)

1.5.2