#### Question-1:What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
#### Ans:-

      MongoDB is a document-oriented database management system that store data as documents in a binary
      representation called BSON (Binary JSON).BSON provides a flexible data model that allows you to store 
      data in a variety of structure and it supports rich data types such as arrays,dates,and binary data.
      
      It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.
      
      A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs,      as JSON documents, or as a graph consisting of edges and vertices.
      
      Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems. So the storing and processing data cost per gigabyte in the case of NoSQL can be many times lesser than the cost of RDBMS.

#### Question-2: State and Explain the features of MongoDB.
#### Ans:-
      
      These are some important features of MongoDB:
    1. Support ad hoc queries:-
    In MongoDB, you can search by field, range query and it also supports regular expression searches.
    
    2. Document Oriented:-
    In MongoDB,all the data stored in the documents instead of tables like in RDBMS.
    In these documents,the data is stored in field (key-value pair) instead of rows and column.
    
    3. Indexing:-
    You can index any field in a document.
    
    4. Replication:-
    MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes).
    
    5. Duplication of data:-
    MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.
    
    6. Load balancing:-
    It has an automatic load balancing configuration because of data placed in shards.
    
    7. Supports map reduce and aggregation tools.
    
    8. Uses JavaScript instead of Procedures.
    
    9. It is a schema-less database written in C++.
    
    10. Provides high performance.
    
    11. Stores files of any size easily without complicating your stack.
    
    12. Easy to administer in the case of failures.
    
    13. It also supports:
    i. JSON data model with dynamic schemas.
    ii. Auto-sharding for horizontal scalability.
    iii. Built in replication for high availability.

 #### Question-3: Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
 #### Ans:-

In [4]:
pip install pymongo # install driver

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.6/603.6 kB 38.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 35.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymongo # import

In [6]:
# creating instance of MongoClient 
client=pymongo.MongoClient("mongodb+srv://manishkumar:manishkumar@cluster0.nrkyso1.mongodb.net/?retryWrites=true&w=majority")

In [7]:
# creating database
db=client['assignment']

In [8]:
# record
data={"name":"sudh" ,
      "class":"data science master" ,
      "time": "flexi"}

In [9]:
# creating collection 
coll_pwskills=db["my_collection"]

In [10]:
# inserting data
coll_pwskills.insert_one(data)

In [11]:
# fetching data 
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64e3665d39bb2e69a61c58b4'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('64e3687039bb2e69a61c58b6'), 'mail_id': 'sudh@gmail.com', 'phone_number': 234344778, 'Addr': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b7'), 'name': 'sudh', 'address': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b8'), 'name': 'manish', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b9'), 'name': 'dheeraj', 'address': 'bihar'}
{'_id': ObjectId('64e368fc39bb2e69a61c58ba'), 'name': 'amit', 'address': 'jind'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bb'), 'name': 'jitender', 'address': 'rewari'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bc'), 'name': 'monu', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bd'), 'name': 'sachin', 'address': 'punjab'}
{'_id': ObjectId('64e368fc39bb2e69a61c58be'), 'name': 'pankaj', 'address': 'africa'}
{'_id': ObjectId('64e377c897a9d46f7e709320'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}

#### Question-4: Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
#### Ans:-

In [12]:
# record 
data1={"mail_id":"sudh@gmail.com" ,
       "phone_number":234344778 ,
       "Addr":"banglore"}

In [13]:
# insert one record 
coll_pwskills.insert_one(data1)

In [14]:
data2=[
        {"name":"sudh" , "address":"banglore"},
        {"name":"manish" , "address":"gurugram"},   
        {"name":"dheeraj" , "address":"bihar"},   
        {"name":"amit" , "address":"jind"},   
        {"name":"jitender" , "address":"rewari"},   
        {"name":"monu" , "address":"gurugram"},   
        {"name":"sachin" , "address":"punjab"},   
        {"name":"pankaj" , "address":"africa"}   
]

In [15]:
# insert many record 
coll_pwskills.insert_many(data2)

In [16]:
# find_one to print the record 
result=coll_pwskills.find_one({"name":"manish" })
print(result)

{'_id': ObjectId('64e368fc39bb2e69a61c58b8'), 'name': 'manish', 'address': 'gurugram'}

In [17]:
# find() to print all record 
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64e3665d39bb2e69a61c58b4'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('64e3687039bb2e69a61c58b6'), 'mail_id': 'sudh@gmail.com', 'phone_number': 234344778, 'Addr': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b7'), 'name': 'sudh', 'address': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b8'), 'name': 'manish', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b9'), 'name': 'dheeraj', 'address': 'bihar'}
{'_id': ObjectId('64e368fc39bb2e69a61c58ba'), 'name': 'amit', 'address': 'jind'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bb'), 'name': 'jitender', 'address': 'rewari'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bc'), 'name': 'monu', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bd'), 'name': 'sachin', 'address': 'punjab'}
{'_id': ObjectId('64e368fc39bb2e69a61c58be'), 'name': 'pankaj', 'address': 'africa'}
{'_id': ObjectId('64e377c897a9d46f7e709320'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('64e377d997a9d46f7e709321'), 'mail_id': 'sudh@gmail.com', 'phone_number': 234344778, 'Addr': 'banglore'}
{'_id': ObjectId('64e377e097a9d46f7e709322'), 'name': 'sudh', 'address': 'banglore'}
{'_id': ObjectId('64e377e097a9d46f7e709323'), 'name': 'manish', 'address': 'gurugram'}
{'_id': ObjectId('64e377e097a9d46f7e709324'), 'name': 'dheeraj', 'address': 'bihar'}
{'_id': ObjectId('64e377e097a9d46f7e709325'), 'name': 'amit', 'address': 'jind'}
{'_id': ObjectId('64e377e097a9d46f7e709326'), 'name': 'jitender', 'address': 'rewari'}
{'_id': ObjectId('64e377e097a9d46f7e709327'), 'name': 'monu', 'address': 'gurugram'}
{'_id': ObjectId('64e377e097a9d46f7e709328'), 'name': 'sachin', 'address': 'punjab'}
{'_id': ObjectId('64e377e097a9d46f7e709329'), 'name': 'pankaj', 'address': 'africa'}

#### Question-5: Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this?
#### Ans:-
    In MongoDB, the find() method is used to fetch a particular data from the collection.

    To query documents from a collection in MongoDB using PyMongo in Python, you can use the find() method. This method returns a cursor that you can use to iterate over the documents that match the query. The find() method takes an optional filter argument, which specifies the conditions that the documents must match, and it returns all the documents in the collection if no filter is provided.

In [20]:
# find() method to print inserted record 
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64e3665d39bb2e69a61c58b4'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('64e3687039bb2e69a61c58b6'), 'mail_id': 'sudh@gmail.com', 'phone_number': 234344778, 'Addr': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b7'), 'name': 'sudh', 'address': 'banglore'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b8'), 'name': 'manish', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58b9'), 'name': 'dheeraj', 'address': 'bihar'}
{'_id': ObjectId('64e368fc39bb2e69a61c58ba'), 'name': 'amit', 'address': 'jind'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bb'), 'name': 'jitender', 'address': 'rewari'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bc'), 'name': 'monu', 'address': 'gurugram'}
{'_id': ObjectId('64e368fc39bb2e69a61c58bd'), 'name': 'sachin', 'address': 'punjab'}
{'_id': ObjectId('64e368fc39bb2e69a61c58be'), 'name': 'pankaj', 'address': 'africa'}
{'_id': ObjectId('64e377c897a9d46f7e709320'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('64e377d997a9d46f7e709321'), 'mail_id': 'sudh@gmail.com', 'phone_number': 234344778, 'Addr': 'banglore'}
{'_id': ObjectId('64e377e097a9d46f7e709322'), 'name': 'sudh', 'address': 'banglore'}
{'_id': ObjectId('64e377e097a9d46f7e709323'), 'name': 'manish', 'address': 'gurugram'}
{'_id': ObjectId('64e377e097a9d46f7e709324'), 'name': 'dheeraj', 'address': 'bihar'}
{'_id': ObjectId('64e377e097a9d46f7e709325'), 'name': 'amit', 'address': 'jind'}
{'_id': ObjectId('64e377e097a9d46f7e709326'), 'name': 'jitender', 'address': 'rewari'}
{'_id': ObjectId('64e377e097a9d46f7e709327'), 'name': 'monu', 'address': 'gurugram'}
{'_id': ObjectId('64e377e097a9d46f7e709328'), 'name': 'sachin', 'address': 'punjab'}
{'_id': ObjectId('64e377e097a9d46f7e709329'), 'name': 'pankaj', 'address': 'africa'}

#### Question-6: Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
#### Ans:-


    The sort() method specifies the order in which the query returns the matching documents from the given collection.It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

In [21]:
# Creating database  
db = client['sort']

In [22]:
# Creating document  (collection)
coll_pwskills1 = db["my_rec"]

In [23]:
dataS = [
   {"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "1002", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "1003", "name": "Robert", "age": "28", "city": "Mumbai"},
   {"_id": "1004", "name": "Romeo", "age": 25, "city": "Pune"},
   {"_id": "1005", "name": "Sarmista", "age": 23, "city": "Delhi"},
   {"_id": "1006", "name": "Rasajna", "age": 26, "city": "Chennai"}
]

In [24]:
coll_pwskills1.insert_many(dataS)

In [27]:
# Ascending sort (1)
for i in coll_pwskills1.find().sort("name",1):
    print(i)

{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}

In [28]:
# Default Ascending sort
for i in coll_pwskills1.find().sort("_id"):
    print(i)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}

#### Question-7: Explain why delete_one(), delete_many(), and drop() is used?
#### Ans:-

    1) delete_one():-
    The deleteOne() method allows you to delete a single document from a collection.

    The deleteOne() method has the following syntax:
    db.collection.deleteOne(filter, option)

In [32]:
coll_pwskills1.delete_one({"age": "28"})

In [33]:
for i in coll_pwskills1.find():
    print(i)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}

    2) delete_many():-
    Delete_many() is used when one needs to delete more than one document.
    A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

    Syntax:
    collection.delete_many(filter, collation=None, hint=None, session=None)

In [34]:
coll_pwskills1.delete_many({"age": "26"})

In [35]:
for i in coll_pwskills1.find():
    print(i)

{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}

    3) drop():-
    drop() is used to drop a collection from the database.

    Basic syntax of drop() command is as follows −
    db.COLLECTION_NAME.drop()

In [36]:
coll_pwskills1.drop()

In [37]:
for i in coll_pwskills1.find():
    print(i)