In [4]:
"""Q-1: Create a python program to sort the given list of tuples based on integer value using a lambda function.
        [('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)] """
cricketer=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)] 
newlist=sorted(cricketer,key=lambda x:x[1] ,reverse=False)

In [19]:
print(newlist)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [12]:
# Another way 
cricketer.sort(key=lambda x:x[1],reverse=False)

In [13]:
print(cricketer)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [17]:
"""Q-2: Write a python program to find the squares of all numbers in the given list of integer using
        lambda and map function.
        [1,2,3,4,5,6,7,8,9,10]       """
number=[1,2,3,4,5,6,7,8,9,10]
square_number=list(map(lambda x:x**2,number))

In [18]:
print(square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
"""Q-3: Write a python program to convert the given list of integer into a tuple of string.
        Use map and lambda function.
        Given String:[1,2,3,4,5,6,7,8,9,10]
        Expexted output:('1','2','3','4','5','6','7','8','9','10')                       """
l=[1,2,3,4,5,6,7,8,9,10]
s=tuple(map(lambda x:x,l))

In [21]:
print(s)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
s1=tuple(map(lambda x:str(x),l))

In [23]:
print(s1)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [24]:
s=tuple(map(str,l))

In [25]:
print(s)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [30]:
"""Q-4: Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25. """
# using reduce function
from functools import reduce

number=[]
for i in range(1,26):
    number.append(i)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [29]:
reduce(lambda x,y:x*y,number)

15511210043330985984000000

In [33]:
import operator
# using reduce function
# using operator functions

print("The product of list elements is :",end="")
print(reduce(operator.mul,number))

The product of list elements is :15511210043330985984000000

In [34]:
""" Q-5: Write a python program to filter the numbers in a given list that are divisible by 2
         and 3 using the filter function.
         [2,3,6,9,27,60,90,120,55,46]                                                       """
number= [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x%2==0 and x%3==0,number))

[6, 60, 90, 120]

In [37]:
"""Q-6: Write a python program to find palindromes in the given list of strings using lambda and filter function.
        ['python','php','aba','radar','level']         """
s=['python','php','aba','radar','level']
list(filter(lambda x:x==x[::-1],s))

['php', 'aba', 'radar', 'level']